:root{
    --negro: #1A1A1A;
    --blanco: #ffffff;
    --gris: #DDE0DF;
    --verde: #B9F616;
}

html{
    cursor: url(../img/cursor.svg),
    auto;
}

a:hover{
    cursor: url(../img/hover.svg),
    auto;
}

.button:hover{
    cursor: url(../img/hover.svg),
    auto;
}

* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
  }
  
h1, h2, h3, h4, p{
    text-wrap: pretty;
  }

h3, p{
    margin: 0;
  }

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(../fonts/PPNeueMontreal-Book.woff2) format('woff2'),
        url(../fonts/PPNeueMontreal-Book.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(../fonts/PPNeueMontreal-Italic.woff2) format('woff2'),
        url(../fonts/PPNeueMontreal-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(../fonts/PPNeueMontreal-Medium.woff2) format('woff2'),
        url(../fonts/PPNeueMontreal-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(../fonts/PPNeueMontreal-Bold.woff2) format('woff2'),
        url(../fonts/PPNeueMontreal-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*

General

*/

html,
body {
    font-family: 'PP Neue Montreal',"arial", sans-serif;
    background-color: var(--negro);
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: var(--blanco);
}

p {
    color: var(--gris);
    font-family: 'PP Neue Montreal',"arial", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
}

a{
    color: var(--verde);
    text-decoration: none;
}

.contenedor{
    margin: 0 2.4rem ;
}

/*

Nav

*/

.nav-principal{
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.nav-principal a{
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: medium;

}

.nav-principal p{
    margin: 0;
    font-weight: 500;
}

/*

Title

*/

h1 {
    font-size: 3.05rem;
    font-family: 'PP Neue Montreal',"arial", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
@media (min-width: 768px){
    h1 {
        font-size: 3.8rem;
    }
    
}

.titulo{
    margin-bottom: 4.8rem;
}

h1 span{
    font-weight: 500;
}

/*

Textos

*/

.textos{
    margin-bottom: 6.4rem;
}

@media (min-width: 768px){
    .textos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.textos p{
    font-size: 1.9rem;
    font-weight: normal;
    width: 100%;
}

.textos p{
    margin-bottom: 1.6rem;  
}

@media (min-width: 768px){
    .textos p{
        margin-bottom: 0  
    }
}

.textos p span{
    font-weight: 500;
}

.textos .nombre{
    font-style: italic;
}

/*

Enlaces

*/
.enlaces{
    margin-bottom: 6.4rem;
}

@media (min-width: 768px){
    .enlaces{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 4rem;
    }
}

.enlaces h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.enlaces div{
    width: 100%;
    margin-bottom: 2.4rem;
}

.button{
    font-size: 1.9rem;
    font-family: 'PP Neue Montreal',"arial", sans-serif;
    letter-spacing: -1px;
    padding: 0.4rem 1rem;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 99rem;
    border: 0.1rem solid var(--verde);
    margin-right: 0.8rem;
    margin-bottom: 1.6rem;
    display:inline-block;
}

.button:hover{
    background-color: var(--verde);
    color: var(--negro);
}

/*

Footer

*/
.footer{
    margin-top: auto;
    padding:  2.4rem 0;
    border-top: 0.05rem solid var(--gris);
}

@media (min-width: 768px){
    .condiciones{
        display: flex;
        flex-direction: row;
    }
}

.footer a, .footer p{
    font-size: 1.56rem;
    color: var(--blanco);
    margin-right: 0.8rem;
}