/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: "Druk Wide";
    src: local("Druk Wide"), url("../fonts/DrukWideBold.woff2") format("woff2"),
        url("../fonts/DrukWideBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #161614;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

main{
    z-index: 2;
}

h1 {
    font-family: "Druk Wide", Helvetica, sans-serif;
    font-size: 3.05556rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #161614;
}

.wrapper {
    margin: 0 auto;
    max-width: 84.27%;
}

/*-----------



navegador



-------------*/

.header{
    z-index: 8;
    right: 0;
    left: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    pointer-events: none;
  }

.logo {
    max-width: 97px;
    min-width: 50px;
    width: 40%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: initial;
  }

.logo .rlogo:hover{
    fill: rgba(22, 22, 20, 0);
    stroke:black;
    stroke-width: 2px;
}

.fijo{
    fill: #FAFAFA;
}

.logo .fijo:hover{
    stroke:#FAFAFA;
}

.burger {
    height: 2rem;
    pointer-events: initial;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fijocaja div{
    background-color: #FAFAFA;  
}

.nav-top li{
    text-decoration: none;
    font-weight: bold;
    pointer-events: initial;
}

.info-bottom li{
    font-size: 0.8rem;
    line-height: 1.278rem;
    pointer-events: initial;
}

.info-bottom a{
    font-weight: bold;
    pointer-events: initial;
}

.nav-links li,
.nav-links a{
        color: black;
}

.fijo li,
.fijo a{
    color: #FAFAFA;
}

.nav-links a:hover{
        text-decoration:line-through;
}

.navscroll {
    -webkit-transition:background-color 500ms, color 700ms;
    -o-transition:background-color 500ms, color 700ms;
    transition:background-color 500ms, color 700ms;
}


.navscroll.blanco {
    color:#FAFAFA;
    fill: #FAFAFA;
}

.rlogo:hover.blanco{
    stroke:#FAFAFA;

}

.navscroll.caja.blanco div{
    background-color:#FAFAFA;
}



/* Movile  */
/* min-width: 767px */
@media screen and (max-width: 42.611rem) {
    .header{
        padding: 2.05555rem 1.667rem;
    }

    .logo{
        height: 2.777rem;
        width: 2.777rem;
    }

    .nav-links {
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-color: rgba(22, 22, 20, 0.9);
        padding: 2.05555rem 1.667rem;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        -webkit-transition: left 300ms ease-in-out;
        -o-transition: left 300ms ease-in-out;
        transition: left 300ms ease-in-out;
    }
    .nav-links li,
    .nav-links a{
        color: #fafafa;
    }

    .burger {
        display: block;
    }
    
    .menu-open .nav-links {
        left: 0;
    }
    
    .nav-top{
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav-top li{
        padding: 4.166rem 0 0 0;
    }

    .info-bottom{
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack:end;
            -ms-flex-pack:end;
                justify-content:flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;   
    }
    .info-bottom ul{
        padding: 2.388rem 0 0 0;
    }


    @-webkit-keyframes navlinkfade {
        from {
        opacity: 0;
        tranform: translatex(50px);
        }
        to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        }
    }


    @keyframes navlinkfade {
        from {
        opacity: 0;
        tranform: translatex(50px);
        }
        to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        }
    }

    .menu-open .burger .line1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            -ms-transform: rotate(-45deg) translate(-5px, 6px);
                transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #fafafa;
    }

    .menu-open .burger .line2 {
        opacity: 0;
    }

    .menu-open .burger .line3 {
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
            -ms-transform: rotate(45deg) translate(-5px, -6px);
                transform: rotate(45deg) translate(-5px, -6px);
        background-color: #fafafa;
    }

}


/* Desktop  */
/* min-width: 768px */
@media screen and (min-width: 42.666rem) {
    .header{
       padding: 2.05555rem 3.33333rem; 
    }

    .logo{
        width: 5.388rem;
        height: 5.388rem;
    }

    .burger {
        display: none;
    }
    

    .nav-top{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .nav-top li{
        padding: 0 0 0 2rem;
        color: #161614;
    }

    .info-bottom{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        bottom:0px;
        left:0px;
        padding: 2.05555rem 3.33333rem;
    }

    .info-bottom ul{
        padding: 0 50px 0 0;
    }

  
}

/*-----------



footer



-------------*/



.footer{
    background:#161614;
    height:18vh;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding:0rem 7.056rem 1rem 7.056rem;
}

.condiciones{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.condiciones a{
    font-size:0.667rem;
    color: #FAFAFA;
    text-decoration: underline;
}

.linkdn svg{
    width:44px;
}

@media screen and (max-width: 1370px) {
    .condiciones{
        line-height: 1.278rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        height: 10rem;
        padding:1rem 1.667rem 1rem 1.667rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }
    .condiciones{
        line-height: 1.278rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        
    }
}




/*-----------



home



-------------*/



.presentation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -o-linear-gradient(
        315deg,
        rgba(255, 199, 44, 1) 0%,
        rgba(222, 160, 16, 1) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(255, 199, 44, 1) 0%,
        rgba(222, 160, 16, 1) 100%
    );
}

.intro-text {
    max-width: 80%;
    margin: auto;
    height: 30vh;
}

.h1-contorno {
    color: rgba(22, 22, 20, 1); /* color de fallback */
    -webkit-text-fill-color: rgba(22, 22, 20, 0); /* color de fondo */
    -webkit-text-stroke-width: 0.111rem; /* ancho del borde */
    -webkit-text-stroke-color: #161614; /* color de borde */
}

.h1-contorno:hover{
    color: rgba(22, 22, 20, 1); /* color de fallback */
    -webkit-text-fill-color: rgba(22, 22, 20, 1); /* color de fondo */
    -webkit-text-stroke-width: 0; /* ancho del borde */
    -webkit-text-stroke-color: #161614; /* color de borde */
}

.presentation-scroll{
    bottom: 1.6rem;
    left:50%;
    margin-left: -20px;
    position: absolute;
}

.presentation-scroll svg{
    display: block;
    width: 40px;
}

.presentation-scroll path{
    fill: #161614;
}

@media screen and (max-width: 1117px) {
    h1{
        font-size: 2.441rem;
    }
}

@media screen and (max-width: 880px) {
    .presentation-scroll{
        bottom: 1.6rem;
        left:auto;
        right: 2.05555rem;
        margin:0;
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.938rem;
    }

    .h1-contorno{
        -webkit-text-stroke-width: 0.056rem;
    }

    .presentation-scroll svg{
        width: 30px;
        pointer-events: initial;
    }
}




/*-----------



listado de proyectos



-------------*/


.work-list {
    background: rgb(22, 22, 20);
    background: -o-linear-gradient(
        315deg,
        rgba(22, 22, 20, 1) 48%,
        rgba(66, 66, 65, 1) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(22, 22, 20, 1) 48%,
        rgba(66, 66, 65, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161614",endColorstr="#424241",GradientType=1);
  }
  
  .section {
    position: relative;
    min-height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
    height: 100vh;
  }
  
  .title {
    font-size: 1.722rem;
    margin: 0;
  }
  
  .date{
    font-size: 0.8rem;
  }

  .image {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 617px;
    z-index: 0;
  }

  .vermas svg{
    display: block;
    width: 108px;
    margin: 4rem auto 0 auto;
  }

  .vermas .botonhover{
      display: none;
  }

  .vermas:hover .botonsin{
      display: none;
  }

  .vermas:hover .botonhover{
      display: block;
  }
  
  .content {
    font-family: "Druk Wide", Helvetica, sans-serif;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  @media screen and (min-width: 1080px) {
    .title {
        font-size: 3.333rem;
      }
      
  }

  
  @media screen and (min-width: 800px) {
    .content {
      position: initial;
    }
  
    .title,
    .date {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    .vermas{
        position: absolute;
      top: 70%;
      margin-left: -54px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);

    }
  
    .title {
      left: 9rem;
    }
  
    .date {
      right: 9rem;
    }
  }
  

/*-----------



about



-------------*/

.about{
    background:#161614;
    width:100%;
    height:120vh;
}

.about-contenido{
    width:80%;
    height:100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10.333rem;
    margin:auto;
}


.mi-cara svg{
    width: 306px;
}

.mi-descripcion{
    color:#FAFAFA;  
}

.mi-descripcion h3{
    font-size: 3.056rem;
    font-family: "Druk Wide", Helvetica, sans-serif;
}

.mi-descripcion p{
    font-size: 1.267rem;
    line-height: 1.944rem;
}


@media screen and (min-width: 1100px) {
    .about-contenido {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .mi-descripcion{
        margin-left: 4.278rem;   
    }

    .mi-cara svg{
        margin-right: 4.278rem;
    }
}

@media screen and (max-width: 1100px) {

    .mi-descripcion{
        padding-top: 2.778rem;
    }
    .mi-cara{
        padding-bottom: 2.778rem;
    }
    .about{
        height: 150vh;
    }
}

@media screen and (max-width: 1190px) {
    .mi-cara svg{
        width: 256px;
    }
    .mi-descripcion h3{
        font-size: 2.441rem;
    }
    .mi-descripcion p{
        font-size: 1rem;
        line-height: 1.944rem;
    }  
}

@media screen and (max-width: 768px) {
    .about{
        width:100%;
        height: 160vh;
    }

    .about-contenido{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .mi-descripcion{
        width:95%;
        padding-top: 2.778rem;
        margin: 0;
        -ms-flex-line-pack: center;
            align-content: center;  
    }

    .mi-descripcion h3{
        font-size: 1.389rem;
    }

    .mi-descripcion p{
        font-size: 0.889rem;
        line-height: 1.556rem;
    }

    .mi-cara{
        padding-bottom: 2.778rem;
    }

    .mi-cara svg{
        width: 230px;
        margin:0;
        -ms-flex-line-pack: initial;
            align-content: initial;
    }
    
}

/*-----------



Case Study



-------------*/
.intro-case{
    height: 80vh;
    width: 100%;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#olympias .intro-foto{
    background: #000 url(../img/case-olympias.jpg) 50% no-repeat;
    background-size: cover;
    position:relative;
}

#kulpt .intro-foto{
    background: #000 url(../img/case-kulpt.jpg) 50% no-repeat;
    background-size: cover;
    position:relative;
}

#space .intro-foto{
    background: #000 url(../img/case-space.jpg) 50% no-repeat;
    background-size: cover;
    position:relative;
}

.intro-foto::after {
    content:"";
    position:absolute;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    display: block;
}

.intro-case-contenido{
    width: 100%;
    height: 63.42vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.titular-case h2{
    position: relative;
    z-index: 2;
    margin-right:1.667rem;
    text-align: right;
    font-size: 2.167rem;
    font-family: "Druk Wide", Helvetica, sans-serif;
    color: rgb(255, 255, 255); /* color de fallback */
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* color de fondo */
    -webkit-text-stroke-width: 0.056rem; /* ancho del borde */
    -webkit-text-stroke-color: #fafafa; /* color de borde */
}

.caracteristicas-case ul{
    margin:0 0 4.25rem;
}

.caracteristicas-case li{
    margin:0 0 2rem;
    font-size:0.889rem;
    line-height: 1.611rem;
}

.caracteristicas-case li .bold{
    font-weight: bold;
    padding:0 0 1rem 0 ;
}

.margen-li-movile{
    margin-bottom: 1rem;
}

.margen-ul-movile{
    margin-bottom: 2.777rem;
}


.texto-case li{
    font-size:0.889rem;
    line-height: 1.389rem;
}

.problema-case h4{
    font-weight: bold;
    font-size: 1.111rem;
    line-height: 1.778rem;
}



.primerafoto-case img{
    display: block;
    max-width: 100%;
}

.proceso-case h4{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.666rem;
    padding-bottom: 1.388rem;
}

.segundafoto-case{
    margin: auto;
    background-color: rgba(22, 22, 20, 1);
    padding: 1rem 0 1rem 0;
    
}

.phone{
    margin:5rem;
}

.phone img{
    display: block;
    min-height: 396px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.margen-foto-movile{
    margin-bottom: 5.556rem;
}

.siguiente-case{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
}

.boton-siguiente{
    font-size: 1.111rem;
    font-family: "Druk Wide", Helvetica, sans-serif;
    text-align: right;
}
.boton-siguiente:hover{
    color: rgba(22, 22, 20, 1); /* color de fallback */
    -webkit-text-fill-color: rgba(22, 22, 20, 0); /* color de fondo */
    -webkit-text-stroke-width: 1px; /* ancho del borde */
    -webkit-text-stroke-color: #161614; /* color de borde */
}

@media screen and (min-width: 750px){
    .titular-case h2{
        font-size: 4.768rem;
    }

    .caracteristicas-case ul{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    }

    .caracteristicas-case li{
        width: calc(50% - 0.5rem);
        font-size:1rem;
    }

    .caracteristicas-case ul{
        margin:0 0 5.722rem;
    }

    .wrapper {
        max-width: 68.13%;
    }

    .intro-case-contenido{
        width: 100%;
        height: 53.57vh;
    }

    #olympias::after {
        height:53.57vh;
    }
    
    .texto-case ul{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    }

    .lista-case{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .lista-case ul{
        margin-bottom: 2.111rem;

    }

    .texto-case li{
        width: calc(50% - 0.5rem);
        font-size:1rem;
        line-height: 1.611rem;
    }

    .margen-ul-desktop{
        margin-bottom: 3.389rem;
    }
    
    .problema-case h4{
        font-weight: bold;
        font-size: 1.563rem;
        line-height: 1.944rem;
    }

    .margen-foto-desktop{
        margin-bottom: 6.333rem;
    }

    .proceso-case h4{
        font-size: 1.25rem;
        padding-bottom: 1.222rem;
    }
    .boton-siguiente{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 936px){
    .titular-case h2{
        margin:0 3.33333rem 0 3.33333rem; 
        font-size: 5.960rem;
        -webkit-text-stroke-width: 0.111rem;
    }

    .segundafoto-case{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 2.833rem 2.5rem;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .phone{
        margin: 2.222rem;
    }
}

@media screen and (min-width: 1000px){
    .caracteristicas-case li{
        width: calc(25% - 0.5rem);
        font-size:1rem;
    }
}


